# Archivos generados por Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/

# Archivos de IDE
**/.idea/
**/*.iml

# Archivos del sistema
.DS_Store
Thumbs.db

# Credenciales (por si acaso)
**/*.env
**/secrets.dart
